/*
 * TEXTO
 * Verde : #299B0F
 * Azul : #096FB3
 * Rojo : #E33500
 */

body {
	background:#fff url(/img/bg.jpg) repeat-x top;
	font-family:'Droid Sans', sans-serif;
	font-size:14px;
	line-height:20px;
	color: #555;
}
a, a:visited { color:#555;text-decoration:none;outline:0; }
a:hover, a:focus { color:#000;text-decoration:underline; }
.mceEditor{ display:block;padding:0;background:none;	} /* Outline fix for validation errors */
 
h1, h2, h3, h4, .title {
	color:#333;
	font-weight:normal;
	font-family:'Bariol', Helvetica, sans-serif;
	line-height:130%;
}
h1.title, .title1.title { margin:24px 0 18px 0;font-size:38px; }
h2.title, .title2.title { margin:20px 0 20px 0;font-size:28px; }
h3.title, .title3.title { margin:16px 0 15px 0;font-size:24px;color:#40A52A; }
h4.title, .title4.title { margin:16px 0 12px 0;font-size:18px; }

.title:first-child, .title.alpha,
h1:first-child,	h1.alpha, 
h2:first-child, h2.alpha,
h3:first-child, h3.alpha { margin-top:0; }

/****** @Paginator ******/

.paginator {
	text-align:center;
	margin-bottom:15px;
	padding:10px 40px;
	font-weight:bold;
 }

.paginator .current {  }
.paginator .buttons { overflow:auto; }

.paginator .first,
.paginator .prev,
.paginator .next,
.paginator .last {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	width:38px;
	height:22px;
	background:no-repeat top;
	border:#BBB solid 1px;
}
.paginator .first { background-image:url(/img/first.png); }
.paginator .next { background-image:url(/img/next.png); }
.paginator .prev { background-image:url(/img/prev.png); }
.paginator .last { background-image:url(/img/last.png); }

.paginator .first.disabled,
.paginator .next.disabled,
.paginator .prev.disabled,
.paginator .last.disabled,
.paginator .first:hover,
.paginator .next:hover,
.paginator .prev:hover,
.paginator .last:hover { background-position:bottom; }

.paginator .numbers {
	line-height:24px;
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	padding:0 8px;
}
.paginator .numbers span { color:#CCC; }

/****** @Layout ******/

#nofooter{
	width:960px;
	margin:0 auto;
	min-height:100%;
} * html #nofooter{ height:100%; }

#header {
	overflow:hidden;
	z-index:1;/*IE7*/
}

#logo {
	position:relative;
	float:left;
	width:151px;
	height:169px;
	margin:0 0 0 10px;
	background:url(/img/logo.png);
} #logo a { position:absolute;display:block;width:100%;height:100%;top:0;left:0;text-indent:-99999px; }

.outside {
	position:absolute;
	width:100%;
	height:0px;
	top:0;
	left:0;
	z-index:-1;
}
.headerInfo {
	text-align:right;
	margin:60px 25px 0 0;
	font-size:20px;
	color:#299B0F;
}
.headerInfo span {padding-right:12px;}
.headerInfo .piensa { color:#E33500; }
.headerInfo .juega { color:#096FB3; }

#menu {
	position:relative;
	text-align:left;
	margin:18px 0 0 176px;
	padding:0;
}
#menu div.bg { background-color:#484848;height:;position:absolute;top:8px;left:0;width: 100%;height:45px; }
#menu li { margin:0 0 0 0px;overflow:hidden;position:relative;z-index:1; }
#menu li:hover { overflow: visible; }
#menu li, #menu li a { display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline; }
#menu li a {
	font-size:20px;
	height:61px;
	width:113px;
	line-height:61px;
	margin:0 13px;
	padding:0;
	background:transparent no-repeat center 0;
	color:#fff;
	font-family:'Bariol', Helvetica, sans-serif;
	text-decoration:none;
	text-transform: capitalize;
	text-align:center;
}
#menu li a:first-child { margin-left:0; }
#menu li a:hover, #menu li.mSelected a { background-image: url(/img/menu.png); }

#menu li.mInicio a { background-position:center 0;width:74px; }
#menu li.mAbout a { background-position:center -61px; }
#menu li.mEscuela a { background-position:center -122px; }
#menu li.mCourses a { background-position:center -183px;width:93px; }
#menu li.mPosts a { background-position:center 0;width:74px; }
#menu li.mFranquicia a { background-position:center -61px; }
#menu li.mContacto a { background-position:center -122px; }

.submenu {
	position:absolute;
	display:block;
	top:100%;
	left:0;
	width:100%;/*IE7*/
}
#menu .submenu li {
	margin:0;
	width:100%; /*IE7*/
}
#menu .submenu li a {
	display:block;
	line-height:18px;
	font-size:16px;
	border-top:#fff solid 1px;
	background-color:#242424;
	color:#fff;
	padding:6px 10px;
	margin:0;
	text-align:center;
	text-decoration:none;

	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
#menu .submenu li a:hover { background-color:#666;color:#fff; }
#menu .submenu li:first-child a { border-top:0; }

#body {
	overflow:hidden;
	padding:0 0 20px 0;
	z-index:0;/*IE7*/
}

#cleaner { clear:both;width:100%;height:342px; } 
.footer {
	position:relative;
	clear:both;
	padding:58px 0 0 0;
	margin:-342px auto 0 auto;
	background:#333 url(/img/footer.jpg) repeat-x top;
	color:#fff;
	text-align:left;
}
.footer .center { position:relative;margin:0 auto;width:960px;height:80px; }
.footer .gecko {
	position:absolute;
	top:-80px;
	right:60px;
}
.footer .top {
	padding:32px 0 0 0;
	height:129px;
}
.footer .top .clear{ margin:0 175px 0 0; }
.footer .top .column {
	float:left;
	width:216px;
	margin:0 0 0 30px;
	font-size:14px;
}
.footer .top .column ul li a { color:#fff; }
.footer .top .column ul li a:hover { color:#a4a4a4; }
.footer .top .column:first-child { margin:0; }
.footer .top .column > .title { font-weight:bold;margin-bottom:6px; }
.footer .top .column.quote {
	width:265px;
	font-size:30px;
	line-height:30px;
	padding:8px 0 0 0;
	font-family:'Bariol', Helvetica, sans-serif;
	vertical-align: middle;
}
.footer .top .column.quote span {
	color:#5c5c5c;
	padding:0 8px;
	font-size:60px;
	vertical-align: middle;
}

.footer .top .column.enlaces  { margin-left:50px; }
.footer .top .column.enlaces .title {
	color:#F8B233;
}
.footer .top .column.redes  {}
.footer .top .column.redes .title {
	color:#009EE0;
}
.footer .top .column.redes a {
	display:block;
	height:30px;
	background:transparent url(/img/social.png) no-repeat left 4px;
	text-indent:100%;
	white-space: nowrap;  
	overflow: hidden;
}
.footer .top .column.redes a.twitter { background-position: left -23px; }

.footer .bottom {
	padding:25px 0 0 0;
	height:98px;
	background:#666 url(/img/footer_bottom.gif) repeat left center;
}
.footer .bottom p {
	position:relative;
	margin:0 310px 0 25px;
	padding:0;
	text-align:left;
	line-height:20px;
}
#pulsem {
	position:relative;
	float:right;
	width:110px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(/img/admin/pulsem.png) no-repeat center center;
	line-height:42px;
}

/**** @BLOCKS **************/

.content,.sidebar, .pad { overflow:hidden; }

#body > .contentwide { }
	#body > .contentwide > .pad { padding:20px 0 10px 175px; }

#body > .content { float:left;width:690px;margin-right:25px; }
	#body > .content > .pad { padding:0; }

#body > .sidebar { }
	#body > .sidebar > .pad { padding:0; }

/* #body > .content > .pad { padding:0 0; } */

#body > .content { background:#fff; }
#body > .sidebar { background:#e9e9e9; }

.c_inicio #body > .contentwide > .pad { padding:20px 40px; }

/******** @SIDEBAR ************************************************/

.banners { padding:10px 0 2px 0; }
.banners .banner { display:block;margin:0 auto 8px auto; }

#support { }
#support h2 { }
#support iframe { display:block;margin:0 auto 10px auto;border:0;width:180px;height:60px; }

/******** @GENERAL ************************************************/
.noresults { font-size:13px;font-style:italic;padding:12px 0;color:#666; }
.showcase { overflow:hidden; }
.imagefoot { background:#e9e9e9;margin:0;padding:3px 6px;font-size:10px;color:#555;line-height:15px; }
.back {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	background:#ddd url(/img/back.png) no-repeat 8px center;
	line-height:32px;
	padding:0 10px 0 26px;
	margin:0 0 8px 0;
	border-radius:6px;
}
.highlight{ background:#ff8; }
.leydatos { padding:0 8px 4px 8px;line-height:12px;text-align:center;color:#777;font-size:10px; }

.bulleted { margin:0 0 20px 0; }
.bulleted li { margin:0 3px 0 16px; }
.bulleted li a {
	display:block;
	background:url(/img/bullet.png) no-repeat left 6px;
	padding:0 5px 0 20px;
	margin:1px;
	line-height:28px;
}
.bulleted li.selected > a,
.bulleted li a:hover { }
.bulleted li li {  }

.sectionHdr{
	height:50px;
	margin:0;
	background-repeat:no-repeat;
	background-position:top center;
	background-color:#d3d3d3;
}

.more { padding:0 10px 0 0;text-align:right; }
.more a {
	line-height:28px;
	background:transparent url(/img/bullet.png) no-repeat left center;
	color:#555;
	font-weight:bold;
	text-decoration:underline;
	padding:3px 0 3px 10px;
}

div.submit { text-align:center; }
input[type=submit], .submitBtn {
	background:#666 url(/img/submit.jpg) repeat-x center top;
	width:112px;
	height:36px;
	border:0;
	color:#fff;
	margin:20px 0 10px 0;
	font-weight:bold;
	
}
div.captcha input { width:30px !important; }
div.captcha label { padding-bottom:3px !important; }
div.captcha label span { padding-left:3px; }
div.captcha > span { padding-left:12px; }
#captchaCode { vertical-align:text-top;color:#242424;font-weight:bold;font-size:90%; }

/*** Detail ***/

.date { font-size:10px;color:#999;margin:5px 0 0 0; }
.desc {  }
.desc p { margin:0 0 18px 0;  }
.comments {
	float:left;
	width:45px;
	background: url(/img/icoComments.gif) no-repeat left center;
	padding:0 0 0 20px;
	color:#666;
	height:28px;
	line-height:28px;
 }

.detail {}
.detail .clear { margin-top:16px; }

.detail .title { margin:0; }
.detail .date { font-size:11px; }

/*** @Thumb *************/

.thumb, .thWrap, .thMask { overflow:hidden; }
.thumb { padding:8px 16px 15px 16px; }
.thMask {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	-moz-box-shadow: 4px 4px 4px #CCC;
	-webkit-box-shadow: 4px 4px 4px #CCC;
	box-shadow: 4px 4px 4px #CCC;
}
.thumb .thWrap {
	width:164px;
	height:128px;
}
.thumb .thWrap, .thWrap.float {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	float:left;
	margin:0 20px 4px 0;
}
.thumb .title { margin:0;font-size:18px; }
.thumb .title a {  }
.thumb .date { margin-top:3px; }
.thumb .desc { margin:8px 0 0 0; }

.thumb.v {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	width:180px;
}
.thumb.v .thWrap {
	display:block;
	float:none;
	border:0;
	margin:0 0 8px 0;
	width:auto;
	height:auto;
}

.thumb .thPlayer { padding:25px 12px; }
.thumb.v .title { font-size:13px; }
.thumb.v .date { }
.thumb.v .desc { font-size:11px; }

.thPlayer { padding:25px; }

/* Comments */

#comments { padding:0 18px; }

#commentForm { margin:0 0 15px 0;overflow:hidden; }
#commentForm label, #commentForm .label { font-size:11px;padding:2px 0;font-weight:bold;color:#999; }
#commentForm .subform { overflow:hidden; }
#commentForm .submit { text-align:right;padding:16px 0; }
#commentForm .submit input[type=submit]{ margin:0 }

.comment_textarea { float:left;width:296px; }
.comment_textarea textarea { height:132px; }
.comment_texts { margin-left:318px;padding-right:10px; }
.comment_count {}

.comment { padding:15px 10px; }
.comment.odd{ background:#f3f3f3;border-top:#e3e3e3 solid 1px;border-bottom:#e3e3e3 solid 1px; }
.comment .title {  }
.comment .date {  }
.comment .desc {  }

.comment_list { border-top:#a4a4a4 solid 1px; }
.comment_count { line-height:40px; }

#crumbs{ font-size:13px;border-bottom:#ccc solid 1px;padding:0 0 5px 0; }
#crumbs a{ padding:3px 8px 3px 12px;background:url(/img/crumb.png) no-repeat left center; }
#crumbs a:first-child{ padding:3px 8px;background:none; }

/******** @INICIO ************************************************/
.desc.intro {
	padding-right:432px;
	text-align: justify;
	background:transparent url(/img/home_portada.jpg) no-repeat 500px 12px;
	min-height: 245px;
}
.desc.intro .title { text-align:left; }

.logos_areas { overflow:hidden;margin-top:28px; }
.logos_areas p {
	display:block;
	float:left;
	width:106px;
	text-align:center;
	font-size:22px;
	padding-top:76px;
	color:#555;
	font-family:'Bariol', Helvetica, sans-serif;
	margin:0 30px 9px 30px;
	background:transparent url(/img/logos_areas.png) no-repeat center top;
}
.logos_areas span {
	display:block;
	background-color:#fff;
	line-height:28px;
	padding-top:6px;
}
.logos_areas p.ingles { margin-top:13px; }
.logos_areas p.matematicas { background-position: center -76px; }
.logos_areas p.matematicas span { padding-top:18px; }
.logos_areas p.programacion { background-position: center -152px;margin-top:13px; }
.logos_areas p.robotica { background-position: center -228px;margin-top:13px; }
.logos_areas p.videojuegos { background-position: center -304px; }
.logos_areas p.videojuegos span { padding-top:18px; }

/******** @ABOUT ************************************************/

.c_about .desc {
	background: url(/img/about_side_imgs.jpg) no-repeat right top;
	padding-right:235px;
}
.c_about .desc ul li {
	background:transparent no-repeat left 3px;
	padding:0 0 8px 36px;
	margin:0 0 12px;
}
.c_about .desc ul li.bullet_blue { background-image: url(/img/bullet_blue.gif); }
.c_about .desc ul li.bullet_green { background-image: url(/img/bullet_green.gif); }
.c_about .desc ul li.bullet_red { background-image: url(/img/bullet_red.gif); }
.c_about .desc ul li.bullet_orange { background-image: url(/img/bullet_orange.gif); }

/******** @ESCUELA ************************************************/

.c_escuela .desc {
	background: url(/img/escuela_side_imgs.jpg) no-repeat right top;
	padding-right:235px;
}

/******** @ALBUMS ************************************************/

.inlineGallery { margin:20px 0; }
.inlineGallery a {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	padding:0 6px;
	margin:0 3px 15px 3px;
}
.inlineGallery a img {
	box-shadow: 4px 4px 4px #999;
	-moz-box-shadow: 4px 4px 4px #999;
	-webkit-box-shadow: 4px 4px 4px #999;
}

/******** @POSTS ************************************************/

.c_posts .sectionHdr{ background-image:url(/img/hdrPosts.jpg); }

.detail .portada {
	overflow:hidden;
	margin:0 20px 8px 20px;
	max-height:500px;
}
.portada.Centro { display:block;margin:0 auto 15px auto;text-align:center; }
.portada.Centro img { display:block;width:100%; }
.portada.Derecha { float:right;margin-right:0; }
.portada.Izquierda { float:left;margin-left:0; }

.share { padding:10px 0;overflow:hidden; }
.share > div { display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline; }

/******** @SERVICIOS ************************************************/

.c_services .sectionHdr { background-image:url(/img/hdrServices.jpg); }

/******** @PODCASTS ************************************************/

#pPlayer{ margin:30px 0;padding:0 30px; }
.vPlayer{ display:block;margin:20px auto;width:640px;height:360px; }

/******** @FAQS ************************************************/

.c_faqs .sectionHdr{ background-image:url(/img/hdrFaqs.jpg); }

div.faq { padding-bottom:15px; }
h1.pregunta { font-size:18px;background:transparent url(/img/icoQuestion.gif) no-repeat;line-height:24px;padding-left:0; }
div.respuesta { padding:0; }

/***** @CONTACTO *******************************************/

.c_contacto .sectionHdr{ background-image:url(/img/hdrContacto.jpg); }

.c_contacto .note {  }
.c_contacto .form { float:left;width:320px; }

.c_contacto .form label{ padding:8px 5px;font-weight:bold; }
.c_contacto .form p:first {  }
.c_contacto .form .subform { padding:0; }
.c_contacto .form .input.text input, .input textarea { width:95%; }

.c_contacto .info { margin-left:385px; }
.c_contacto .info .title { font-weight:normal; }

/******** @INVITE ************************************************/

.invite {
	padding:15px 15px 25px 15px;
	background:url(/img/hdrInvite.jpg) no-repeat top;
	color:#333;
	position:relative;
	width:542px;
}
.invite .title { margin-bottom:4px; }
.invite .note { color:#666;margin:0 0 6px 0;background:none;font-size:10px;padding:0; }

.invite .subform { overflow:hidden; }

.invite .inviteCol { float:left;width:262px;margin-right:18px; }
.invite .inviteCol.omega { margin-right:0; }

.invite .inviteLabel { background:#0660A0;padding:6px 12px;margin:0;font-weight:bold;text-align:center;font-size:13px;color:#fff; }

.invite .input.text input{ width:248px; }
.invite .textarea textarea { width:528px;margin:0 auto 15px auto; }
.invite .submit { padding:0; }
.invite .submit input { margin:0 auto; }